@page "/reports"

<AuthorizeView>
    <Authorized>
        <h1>Reports</h1>

        <div>
            <CustomerItemsReport />
            <div class="mt-4">
                <CustomerMosExpensiveItemsReport />
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedBanner />
    </NotAuthorized>
</AuthorizeView>
@code {
}
