@page "/"

<PageTitle>Index</PageTitle>

<h1>Alliant - Product Management System</h1>


<div>
    <div class="alert alert-secondary d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div>
            You will have to LogIn to use the app. <strong>The button is in the top right.</strong><br />
            If you don't have an account, you can <a href="Identity/Account/Register">click here</a> to register.
        </div>
    </div>
    <h4>Modules</h4>
    <ul>
        <li>
            <strong>Customers</strong>: You can create, modify and delete customers.
        </li>
        <li>
            <strong>Items</strong>: You can create, modify and delete items.
        </li>
        <li>
            <strong>Customer Items</strong>: You can add, modify and remove items to customers.
        </li>
        <li>
            <strong>Reports</strong>: You can create, modify and delete customers.
            <ul>
                <li>Customer Items: Shows customers who have the provided item numbers assigned.</li>
                <li>Customer Most Expensive Items: Shows the most expensive items the customers have assigned.</li>
            </ul>
        </li>
    </ul>
</div>
